<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add new employee</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>

<body>
    <%- include('nav') %>
        <h2>New Employee Form</h2>
        <div class="add-emp-main-container">
            <form>
                <input type="text" placeholder="Enter name" />
                <br>
                <input type="text" placeholder="Enter surname" />
                <br>
                <input type="text" placeholder="Enter ID" />
                <br>
                <input type="text" placeholder="Enter address" />
                <br>
                <input type="text" placeholder="Enter position" />
                <br>
                <input type="text" placeholder="Enter phone number" />
                <br>
                <label for="image">Add image</label>
                <input type="file" placeholder="Enter ID" />
                <br>
                <button type="submit">Save</button>
            </form>
        </div>

</body>

</html>