<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <%- include('nav') %>

    <h2>Employee Management Site</h2>
    <img src="https://tse3.mm.bing.net/th?id=OIP.ma2m48jYpX0siobqsEwXDAHaHa&pid=Api&P=0&h=180" alt="Home-image">
</body>
</html>